body,p{
    margin: 0;
    padding: 0;
}

.bg{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.bg-1{
    background-image: url('../asstes/1.jpg');
}
.bg-2{
    background-image: url("../asstes/2.jpg");
}
.bg-3{
    background-image: url("../asstes/3.jpg");
}
.bg-4{
    background-image: url("../asstes/4.jpg");
}
.bg-5{
    background-image: url("../asstes/5.jpg");
}

.content{
    height: 400px;
}